@use "variables" as *;

:root {
    color-scheme: light dark;

    --transition-duration: 400ms;

    /* light theme (default) */
    --fg: light-dark(#{$light-fg}, #{$dark-fg});
    --bg: light-dark(#{$light-bg}, #{$dark-bg});
    --topbar-bg: light-dark(#{$light-topbar-bg}, #{$dark-topbar-bg});
    --topbar-fg: var(--fg);
    --shadow-color: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

html[data-theme="dark"] {
    color-scheme: dark !important;
}

html[data-theme="light"] {
    color-scheme: light !important;
}

body {
    margin: 0;
    transition: background-color var(--transition-duration) ease;
    background: light-dark(var(--bg), var(--bg));
}

#app {
    display: flex;
    flex-direction: column;
    height: 100svh;
}
